<!DOCTYPE html>
<html>
    <head>
        <title>About page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link href='https://bootswatch.com/darkly/bootstrap.min.css'rel='stylesheet' type='text/css'/> 
        <!-- <link rel='stylesheet'href='/styles.css'/> -->
    </head>
    <body class="bg-black">
    
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/home">Flavio Augusto</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/works">Work</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/gallery">Gallery</a>
                  </li>
                </ul>
                <form action='/search' method='get' class="d-flex">
                  <label><input name='search' class="form-control me-sm-2" type="text" placeholder="Search"></label>
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </div>
        </nav>

        <ul class="nav  mt-5 pt-5 justify-content-center mx-5 nav-pills nav-fill">
            <li class="nav-item bg-dark rounded">
              <a class="nav-link active text-light" data-bs-toggle="tab" href="#minibio">Mini bio</a>
            </li>
            <li class="nav-item bg-dark   rounded">
              <a class="nav-link text-light" data-bs-toggle="tab" href="#biography">Biography</a>
            </li>
            <li class="nav-item bg-dark rounded">
                <a class="nav-link text-light" data-bs-toggle="tab" href="#companies">Companies</a>
            </li>
            <li class="nav-item bg-dark rounded">
                <a class="nav-link text-light" data-bs-toggle="tab" href="#books">Books published</a>
              </li>
          </ul>
          <div id="myTabContent" class="tab-content mx-5 px-5 py-5 bg-white mx-5 rounded">
            <div class="tab-pane fade show active text-dark" id="minibio">
                <p><b>Mini bio:</b> Flávio Augusto da Silva (Rio de Janeiro, February 7, 1972) is a Brazilian businessman and writer; founder of the Wise Up company and owner of the Orlando City Soccer Club.</p>
                <p><b>Known For:</b> Founder of Wise Up</p>
                <p><b>Owner of:</b> Orlando City</p>
                <p><b>Founder of:</b> Geração de Valor e meuSucesso.com</p>
                <p><b>Birth:</b> February 7, 1972 (49 years old)</p>
                <p><b>Born in:</b> Rio de Janeiro, RJ, Brazil</p>
                <p><b>Home:</b>	Orlando, FL, USA</p>
                <p><b>Nationality:</b> brazilian</p>
                <p><b>Occupation: </b> Entrepreneur, writer and lecturer</p>
                <p><b>Magnum opus:</b> Geração de valor</p>
            </div>
            <div class="tab-pane fade text-dark" id="biography">
                <p>At the age of 23, he founded the Wise Up English School. In 18 years, the company expanded and became a holding valued at approximately R$877 million, an amount paid by Grupo Abril Educação in February 2013, when it acquired the holding. Currently, one of Flávio Augusto's major projects consists of a course that highlights several success stories and claims to teach his students how to become a successful entrepreneur.</p>
                <p>In 2013, Flávio bought a professional football club in the USA, Orlando City Soccer Club, in the city of Orlando. In that same year, Orlando City joined the MLS - Major League Soccer, the elite of North American football. In July 2014, Brazilian midfielder Kaká was hired by Orlando City for 3 and a half years. During the second half of 2014, Kaká was loaned for 6 months to São Paulo FC, the club that revealed him.</p>
                <p>Born and raised in the suburbs of Rio de Janeiro, studied most of the time at a public school in his neighborhood (Jabour). At 19, he started working in the commercial department of an English school with the intention of earning his own income. After some time, he locked the faculty of the Computer Science course at Universidade Federal Fluminense and started dedicating himself 100% to his career. It was then that, at the age of 23, Flávio founded WiseUp; using, as initial capital, R$ 20 thousand reais[1] from his overdraft at a cost of 12% interest per month.</p>
                <p>In December 2015, it repurchased Wise Up for R$398 million.</p>
                <p>Currently, Flávio has a partnership with Carlos Wizard, working together on projects involving the acquisition of English schools to be incorporated into the Wiser Educação group.</p>
                <p>Silva was also the creator of Powerhouse19, an event characterized by being a marathon of 6 hours of classes on various subjects in the world of business and entrepreneurship, with the next edition scheduled for 2020.</p>
            </div>
            <div class="tab-pane fade text-dark" id="companies">
                <p>
                    <ul>
                        <li>Wise up - 1991</li>
                        <li>MeuSucesso.com - 2011</li>
                        <li>Geração de Valor - 2011</li>
                        <li>TBDH-Capital - 2013</li>
                        <li>Wiser (Wise Up, Wizard, Wise Up Online, Buzz Editora, Escola Conquer, Number One, Power House) - 2015</li>
                        <li>Orlando City Soccer Club - 2013</li>
                    </ul>
                  </p>
            </div>
            <div class="tab-pane fade text-dark" id="books">
              <p>
                  <ul>
                      <li>Geração de valor, 2014</li>
                      <li>Geração de valor 2, 2015</li>
                      <li>Geração de valor 3, 2016</li>
                      <li>Ponto de inflexão. São Paulo: Buzz Editora, 2018.</li>
                  </ul>
                </p>
            </div>
          </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>