<!DOCTYPE html>
<html>
    <head>
        <title>Home page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link href='https://bootswatch.com/darkly/bootstrap.min.css'rel='stylesheet' type='text/css'/> 
        <link rel='stylesheet'href='/styles.css'/>
      
    </head>
    
    <body class="text-center text-white bg-dark">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/home">Flavio Augusto</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="/home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/works">Work</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/gallery">Gallery</a>
                  </li>
                </ul>
                <form action='/search' method='get' class="d-flex">
                  <label><input name='search' class="form-control me-sm-2" type="text" placeholder="Search"></label>
                  <button class="btn btn-secondary text-light my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </div>
        </nav>

        <div class="cover-container d-flex w-100 h-auto p-5 mx-auto flex-column align-middle">
           
            <main class="px-3 mt-5">
              <h1>Flavio Augusto</h1>
              <p class="lead mt-5">Flavio Augusto, founder of WiseUP, left the outskirts of Rio de Janeiro to conquer the world. Learn a little more about its entrepreneurial history.</p>
              <p class="lead mt-5">
                <a href="https://pt.wikipedia.org/wiki/Fl%C3%A1vio_Augusto_da_Silva" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Wikipedia</a>
              </p>
            </main>

        </div>





    </body>
</html>